server:
    port: 18081
spring:
  application:
    name: Coversational Robot Test

  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o


management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

app:
  upload:
    directory: ${captured_image_upload_dir}
  porcupine:
    api-key: ${PORCUPINE_API_KEY}
    hey-raz-keyword-file-path: ${hey_raz_keyword_file_path}
  silero:
    vad-model-path: ${SILERO_VAD_MODEL_PATH}
  voice:
    recording-directory: ${VOICE_RECORDING_DIRECTORY}
